OSM-notes-API-schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- Attributes for OSM API -->
  <xs:attributeGroup name="attributesOSMAPI">
    <xs:attribute name="version" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:float">
          <xs:minInclusive value="0.6"/>
        </xs:restriction> 
      </xs:simpleType>
    </xs:attribute>

    <xs:attribute name="generator" type="xs:string" use="required"/>
    <xs:attribute name="copyright" type="xs:string" use="required"/>
    <xs:attribute name="attribution" type="xs:anyURI" use="required"/>
    <xs:attribute name="license" type="xs:anyURI" use="required"/>
  </xs:attributeGroup>

  <!-- Attributes for Notes -->
  <xs:attributeGroup name="attributesNotes">
    <xs:attribute name="lon" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:float">
          <xs:fractionDigits value="7"/>
          <xs:minInclusive value="-180"/>
          <xs:maxInclusive value="180"/>
        </xs:restriction> 
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="lat" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:float">
          <xs:fractionDigits value="7"/>
          <xs:minInclusive value="-90"/>
          <xs:maxInclusive value="90"/>
        </xs:restriction> 
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>

  <!-- Elements for Comments -->
  <xs:element name="comment">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="date" type="xs:string" use="required">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="20[0-3][0-9]-[0-1][0-9]-[0-3][0-9] [0-2][0-9]:[0-5][0-9]:[0-5][0-9] UTC"/>
            </xs:restriction> 
          </xs:simpleType>
        </xs:element>
        <xs:element name="uid" type="xs:int">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:minInclusive value="1"/>
            </xs:restriction> 
          </xs:simpleType>
        </xs:element>
        <xs:element name="user" use="optional">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="1"/>
            </xs:restriction> 
          </xs:simpleType>
        </xs:element>
        <xs:element name="user_url" type="xs:anyURI"/>
        <xs:element name="action" >
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="opened"/>
              <xs:enumeration value="closed"/>
              <xs:enumeration value="reopened"/>
              <xs:enumeration value="commented"/>
              <xs:enumeration value="hidden"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="text" type="xs:string"/>
        <xs:element name="html" type="xs:anyType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- Elements for Notes -->
  <xs:element name="note">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id" use="required">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:minInclusive value="1"/>
            </xs:restriction> 
          </xs:simpleType>
        </xs:element>
        <xs:element name="url" type="xs:anyURI" use="required"/>
        <xs:element name="comment_url" type="xs:anyURI"/>
        <xs:element name="close_url" type="xs:anyURI"/>
        <xs:element name="reopen_url" type="xs:string"/>
        <xs:element name="date_created" use="required">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="20[0-3][0-9]-[0-1][0-9]-[0-3][0-9] [0-2][0-9]:[0-5][0-9]:[0-5][0-9] UTC"/>
            </xs:restriction> 
          </xs:simpleType>
        </xs:element>
        <xs:element name="status" use="required">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="open"/>
              <xs:enumeration value="close"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="date_closed">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="20[0-3][0-9]-[0-1][0-9]-[0-3][0-9] [0-2][0-9]:[0-5][0-9]:[0-5][0-9] UTC"/>
            </xs:restriction> 
          </xs:simpleType>
        </xs:element>
        <xs:element name="comments">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="comment" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="attributesNotes"/>
    </xs:complexType>
  </xs:element>

  <!-- Root tag -->
  <xs:element name="osm">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="note" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
      <xs:attributeGroup ref="attributesOSMAPI"/>
    </xs:complexType>
  </xs:element>
</xs:schema>